.Header
  .Header__left
    - if teacher_signed_in?
      = current_teacher.name
    - elsif student_signed_in?
      = current_student.name
  .Header__name
    てんさくん
  .Header__right
    = link_to "メニュー", rooms_path, method: :get, class: "Header__right--index"
    - if teacher_signed_in?
      = link_to "マイページ", teacher_path(current_teacher.id), method: :get, class: "Header__right--mypage"
      = link_to "ログアウト", destroy_teacher_session_path, method: :delete, class: "Header__right--logout"
    - elsif student_signed_in?
      = link_to "マイページ", student_path(current_student.id), method: :get, class: "Header__right--mypage"
      = link_to "ログアウト", destroy_student_session_path, method: :delete, class: "Header__right--logout"

.Messages
  - @messages.each do |message|
    - if message.teacher.id == current_teacher.id
      .One-message{data: {message: {id: message.id}}}
        .One-message__content
          - if message.content.present?
            %p.One-message__content--value
              = message.content
          = image_tag message.image.url, class: "One-message__image" if message.image.present?
          .One-message__time
            = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    - elsif message.student.id == current_student.id
      .One-message{data: {message: {id: message.id}}}
        .One-message__content
          - if message.content.present?
            %p.One-message__content--value
              = message.content
          = image_tag message.image.url, class: "One-message__image" if message.image.present?
          .One-message__time
            = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    - else
      .Other-message{data: {message: {id: message.id}}}
        .Other-message__left
          = image_tag message.teacher.image.url, class: "Other-message__left--image" if message.teacher.present?
          = image_tag message.student.image.url, class: "Other-message__left--image" if message.student.present?
          .Other-message__left--name
            = message.teacher.name if message.teacher.present?
            = message.student.name if message.student.present?
        .Other-message__right
          .Other-message__right__content
            - if message.content.present?
              %p.Other-Message__right__content--value
                = message.content
            = image_tag message.image.url, class: 'Other-message__right__image' if message.image.present?
            .Other-message__right__time
              = message.created_at.strftime("%Y年%m月%d日 %H時%M分")

.MessageFooter
  = form_with model: [@group, @message], html: {class: "MessagePost"}, id: "form", local: true do |form|
    .MessagePost__contents
      = form.text_field :content, class: "MessagePost__contents--message"
      = form.label :image, class: "MessagePost__contents--image" do
        = icon('fas', 'image', class: "MessagePost__contents--image--icon")
        = form.file_field :image, class: "MessagePost__contents--image--input"
    = form.submit value: "送信", class: "MessagePost__submit", data: {disable_with: "送信"}