.Header
  .Header__left-group
    = @group.teachers.pluck(:name).join(" ")
    = @group.students.pluck(:name).join(" ")
  .Header__name
    てんさくん
  .Header__right
    = link_to "メニュー", rooms_path, method: :get, class: "Header__right--index"
    - if teacher_signed_in?
      = link_to "マイページ", teacher_path(current_teacher.id), method: :get, class: "Header__right--mypage"
      = link_to "ログアウト", destroy_teacher_session_path, method: :delete, class: "Header__right--logout"
    - elsif student_signed_in?
      = link_to "マイページ", student_path(current_student.id), method: :get, class: "Header__right--mypage"
      = link_to "ログアウト", destroy_student_session_path, method: :delete, class: "Header__right--logout"

.Messages
  - @messages.each do |message|
    - if message.teacher == current_teacher
      .One-message{data: {message: {id: message.id}}}
        .One-message__content
          - if message.content.present?
            .One-message__content--value
              %p.One-message__content--value--text
                = message.content
        = image_tag message.image.url, class: "One-message__image" if message.image.present?
        .One-message__time
          = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    - elsif message.student == current_student
      .One-message{data: {message: {id: message.id}}}
        .One-message__content
          - if message.content.present?
            .One-message__content--value
              %p.One-message__content--value--text
                = message.content
        = image_tag message.image.url, class: "One-message__image" if message.image.present?
        .One-message__time
          = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    - else
      .Other-message{data: {message: {id: message.id}}}
        - if message.teacher.present?
          = link_to teacher_path(message.teacher.id), method: :get, class: "Other-message__left" do
            = image_tag message.teacher.image.url, class: "Other-message__left--image"
            .Other-message__left--name
              = message.teacher.name
        - elsif message.student.present?
          = link_to student_path(message.student.id), method: :get, class: "Other-message__left" do
            = image_tag message.student.image.url, class: "Other-message__left--image"
            .Other-message__left--name
              = message.student.name
        .Other-message__right
          .Other-message__right__content
            - if message.content.present?
              .Other-message__right__content--value
                %p.Other-message__right__content--value--text
                  = message.content
          = image_tag message.image.url, class: 'Other-message__right__image' if message.image.present?
          .Other-message__right__time
            = message.created_at.strftime("%Y年%m月%d日 %H時%M分")

.MessageFooter
  = form_with model: [@group, @message], html: {class: "MessagePost"}, id: "form", local: true do |form|
    .MessagePost__contents
      = form.text_field :content, class: "MessagePost__contents--message"
      = form.label :image, class: "MessagePost__contents--image" do
        = icon('fas', 'image', class: "MessagePost__contents--image--icon")
        = form.file_field :image, class: "MessagePost__contents--image--input"
    = form.submit value: "送信", class: "MessagePost__submit", data: {disable_with: "送信"}