.Header
  .Header__left
    - if teacher_signed_in?
      = current_teacher.name
    - elsif student_signed_in?
      = current_student.name
    - else
  .Header__name
    てんさくん
  .Header__right
    = link_to "部屋を作成", new_room_path, method: :get, class: 'Header__right--room'
    = link_to "ログアウト", destroy_teacher_session_path, method: :delete, class: 'Header__right--logout'

.Content
  .Answers
    - @answers.each do |answer|
      .Answers__one
        .Answers__one--info
          .Answers__one--info--question
            = answer.question
          .Answers__one--info--name
            = answer.student.name
          .Answers__one--info--score
            = answer.score
        .Answers__one--content
          = answer.content
        .Answers__one--hint
          = answer.hint
        .Answers__one--box

        -# if answer.user = current.user

  .Answer
    = form_with model: [@room, @answer], local: true do |form|
      .Answer__info
        = form.text_field :question, placeholder: "問い", class: "Answer__info--question"
        .Answer__info--name
          = current_student.name
        .Answer__info--box
      = form.text_area :content, placeholder: "答案", class: "Answer__content"
      -# = form.text_area :hint, placeholder: "ヒント", class: "Answer__hint"
      -# = form.number_field :score, placeholder: "得点", class: "Answer__socre", value: 0
      = form.submit "送信", class: "Answer__submit"