= javascript_include_tag 'autoReload'

.Header
  .Header__left
    =@room.name
    - if teacher_signed_in?
      = link_to "削除", room_path(@room), class: "Header__left--delete", method: "delete"
  .Header__name
    てんさくん
  .Header__right
    = link_to "メニュー", rooms_path, method: :get, class: "Header__right--index"
    = link_to "ログアウト", destroy_teacher_session_path, method: :delete, class: "Header__right--logout"

- if student_signed_in?
  .Content#student-content
    .Answers#student-answers
      - @ans.each do |answer|
        .Answers__one{data: {answer: {id: answer.id}}}
          .Answers__one--info
            .Answers__one--info--question
              %p 問
              = answer.question
            .Answers__one--info--name
              = answer.student.name
            .Answers__one--info--score
              = answer.score
              %p 点
          .Answers__one--content
            = answer.content
          .Answers__one--hint
            = answer.hint
          .Answers__one--box
- if teacher_signed_in?
  .Content#teacher-content
    .Answers#teacher-answers
      - @answers.each do |answer|
        .Answers__one{data: {answer: {id: answer.id}}}
          .Answers__one--info
            .Answers__one--info--question
              %p 問
              = answer.question
            .Answers__one--info--name
              = answer.student.name
            .Answers__one--info--score{id: "score#{answer.id}"}
              = answer.score
              %p 点
          .Answers__one--content
            = answer.content
          .Answers__one--form{id: "#{answer.id}"}
            .Answers__one--form--hint
              = answer.hint
            = link_to edit_room_answer_path(@room, answer), class: "Answers__one--form--edit" ,remote: true do
              採点する
          .Answers__one--box

- if student_signed_in?
  .Bottom
    = form_with model: [@room, @answer], class: "Answer", local: true do |form|
      .Answer__info
        = form.text_field :question, placeholder: "問(6文字以内)", class: "Answer__info--question"
        .Answer__info--name
          = current_student.name
        = form.submit "送信", class: "Answer__info--submit"
      = form.text_area :content, placeholder: "答案", class: "Answer__content"
- else