.Header
  .Header__left
    - if teacher_signed_in?
      = current_teacher.name
    - elsif student_signed_in?
      = current_student.name
    - else
  .Header__name
    てんさくん
  .Header__right
    = link_to "部屋を作成", new_room_path, method: :get, class: 'Header__right--room'
    = link_to "ログアウト", destroy_teacher_session_path, method: :delete, class: 'Header__right--logout'

.Room
  - @rooms.each do |room|
    = link_to room_answers_path(room.id), class:"Room__one" do
      .Room__one--name
        = room.name

