.Header
  .Header__left
    = current_teacher.name
  .Header__name
    てんさくん
  .Header__right
    = link_to "部屋を作成", new_room_path, method: :get, class: 'Header__right--room'
    = link_to "ログアウト", destroy_teacher_session_path, method: :delete, class: 'Header__right--logout'

.Room
  - @rooms.each do |room|
    .Poom__one
      = link_to room_answers_path(room.id), class:"Room__one--link" do
        .Room__one--link--name
          = room.name
        .Side-bar__group-list--example--link--message
          = room.teachers.name

