.Header
  .Header__left
    - if teacher_signed_in?
      = current_teacher.name
    - elsif student_signed_in?
      = current_student.name
    - else
  .Header__name
    てんさくん
  .Header__right
    = link_to "メニュー", rooms_path, method: :get, class: "Header__right--index"
    = link_to "ログアウト", destroy_teacher_session_path, method: :delete, class: "Header__right--logout"

.Make-room
  = form_with(model: @room, local: true) do |form|
    %h3.Make-room__title
      部屋を作成する
    = form.text_field :name, placeholder: "新規の授業名(8文字以内)", class: "Make-room__name"
    - form.collection_check_boxes :teacher_ids, Teacher.all, :id, :name
    = form.submit "作成", class: "Make-room__btn"