.Header
  .Header__left
    = current_student.name
  .Header__name
    てんさくん
  .Header__right
    = link_to "メニュー", rooms_path, method: :get, class: "Header__right--index"
    = link_to "マイページ", student_path(current_student.id), method: :get, class: "Header__right--mypage"
    = link_to "ログアウト", destroy_student_session_path, method: :delete, class: "Header__right--logout"

.regist-form
  %h2.Regist-title 生徒編集
  = form_for(resource, as: resource_name, class: "Regist", url: registration_path(resource_name), html: { method: :put }) do |f|
    = render "students/shared/error_messages", resource: resource
    .field.Regist__name
      = f.label :name, "氏名", class: "Regist__name--title"
      %br/
      = f.text_field :name, autofocus: true, class: "Regist__name--field"
    .field.Regist__image
      = f.label :image, "プロフィール画像", class: "Regist__image--title"
      %br/
      = f.file_field :image, autofocus: true, class: "Regist__image--field"
    .actions.Regist__btn
      = f.submit "更新", class: "Regist__btn--body"
